body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  background-image: url("cool-background\ \(3\).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #413F42;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;

  position: relative;
}

nav a {
  color: #CFD2CF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #fff;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #D8D8D8;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.img{
    width: 70px;
    position: fixed;
    left: 5%;
    top: 5;
}


.title{
  position: absolute;
  top: 25%;
  left: 37.0%;
  transform: translate(50%, 50%);
}

.title h1{
  color: #EFEFEF;
  font-size: 50px;
}

.btn{
  position: absolute;
  top: 45%;
  left: 46.3%;
  width: 200px;
  border: 3px;
  border-radius: 3px;
  text-decoration: none;
  color: #CFD2CF;
  font-size: 17px;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img{
    height: auto;
    width: 320px;
    border-radius: 50%;
}

.about text{
    width: 650px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: whitesmoke;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: whitesmoke;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #D61C4E;
}

.about-text p{
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.foto{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  padding: 0 12%;
}

.card {
  background-color: #CFD2CF;
  transition: 0.3s;
  width: 300px;
  min-height: 350px;
  padding: 32px;
  margin: 81px 0;
  text-align: center;
}

.card:hover {
  background-color: #fbcb7b;
}

.content3 {
  padding: 1% 12% 6% 12%;
  background-color: white;
  display:grid;
  grid-template-columns: 40% 60%;
}

.text2 {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.content4 {
  text-align: center;
  padding: 6% 12%;
}

.content4 p {
  font-size: 18px;
}

.img-content{
  width: 200px;
  height: 100px;
}

.section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.section-header {
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  width: 60%;
  border: 0.5px solid #ccc;
}

table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

td {
  text-align: center;
  padding: 10px 15px;
}

.text-left { text-align: left; }
tr:nth-child(odd) { background-color: whitesmoke; }

tr.tr-header {
  background-color: #CFD2CF;
  height: 50px;
}

.footer-text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

img { 
  max-width: 100%;
  max-height: 200px;
}

.gallery {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.images {
  padding-left: 15px;
  padding-right: 15px;
}

figure { margin: 0; }
figcaption { text-align: center; }

figcaption span {
  display: block;
  color: #333333;
  font-size: 15px;
}

p{
  text-align: center;
}


.imgts{
  border-radius: 48%;
}

.link-tot{
  text-decoration: none;
  color: #333333;
}
  