* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(img/snowy_mountains_2-2560x1440.png);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: 80px;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white ;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

h4{
    color: #EEEEEE;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}



h2{
    line-height: 80px;
    display: inline-block;
    margin-left: 40px;
    color: #EAF6F6 ;
}

ul{
    float: right;
    margin-right: 40px;
    list-style: none;
}

ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: #EAF6F6;
}

ul li a:hover {
    color: rgb(49, 112, 175);
}

label #btn,
label #close {
    color: rgb(52, 58, 64);
    font-size: 30px;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 992px) {
    label #btn {
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-right: 0;
        right: -100%;
        top: 80px;
        background-color: black;
        text-align: center;
        transition: .5s;
    }


    ul li{
        display: block;
        line-height: 10px;
        margin: 50px 0;
    }

    #check:checked ~ ul {
        right: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #close {
        display: block;
    }
}


.about{
    width: 100%;
    padding: 255.5px 0px;
    background-color: #8ba4b8;
}

.about img{
  height: auto;
  width: 430px;  
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom:25px ;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

span{
    color: #FDFF00;
}

.about-text p{
    color: #EEEEEE;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
}



.content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    padding: 0 12%;
  }
  
  .card {

    transition: 0.3s;
    width: 300px;
    min-height: 350px;
    background-color: #6B728E;
    padding: 32px;
    margin: 81px 0;
    text-align: center;
  }
  
  .card:hover {
    background-color: #fbcb7b;
  }
  
  .content3 {
    padding: 1% 12% 6% 12%;
    background-color: white;
    display:grid;
    grid-template-columns: 40% 60%;
  }
  
  .text2 {
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .content4 {
    text-align: center;
    padding: 6% 12%;
  }
  
  .content4 p {
    font-size: 18px;
  }


  .workhome{
    width: 100%;
    padding: 130px 0px;
    background-color: #1b283a;
  }

.card img{
    height: 200px;
    width: 300px;
}

  